*.fzz
tools/data.csv
tools/~$Расчет АС-3.xlsx
tools/ngrok
.DS_Store
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/launch.json
user_config_override.h
doc/*.*
.theia/launch.json
user_config_override.h
pgpt.py
.vscode/lua.booster.lint.json
libraries/Async_TCP/src/.vscode/lua.booster.lint.json
libraries/ESP_Async_WebServer/src/.vscode/lua.booster.lint.json
/.pio
/.vscode
/data/.vscode
/.specstory
