*.fzz
tools/data.csv
tools/~$Расчет АС-3.xlsx
tools/ngrok
.DS_Store
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/launch.json
user_config_override.h
doc/*.*
.theia/launch.json
user_config_override.h
