    <div id="I2CPump" class="tabcontent panel" aria-hidden="true">
      <h2>Внешний насос</h2>
      <div class="i2c-form">
        <div class="i2c-row">
          <label for="i2c_speed">Скорость отбора, л/ч</label>
          <input id='i2c_speed' type='text' inputmode='decimal' value='0'>
        </div>
        <div class="i2c-row">
          <label for="i2c_volume">Объём, мл</label>
          <input id='i2c_volume' type='text' inputmode='decimal' value='0'>
        </div>
        <div class="i2c-actions">
          <input type='button' class="button" value="Отправить" onclick='SamovarApp.sendI2cPump();'>
          <input type='button' class="button" value="Стоп" onclick='SamovarApp.stopI2cPump();'>
        </div>
      </div>
    </div>