      <div style="visibility: hidden" id="lua_btn">
        <div class="container_row" style="border: 1px dashed #bbb; margin-bottom: 1em; justify-content: space-between;">
          <div class="container_column" style="flex: 1.1; padding-left: 2em;">
            <div class="container_row" style="justify-content: space-around; align-items: center; display: block;" id="lua_btn_ln"></div>
            <div class="container_row" style="justify-content: space-around; align-items: center;" id="lua_str_d">
              <label for="lua_str_i">Lua:</label>
              <input name='lua_str_i' id='lua_str_i' type='text' value='' style='padding: 5px; width: 200px; margin-bottom: 10px; margin-left: 100px;'>
              <input type="button" name="lua_str_b" value="Выполнить Lua" class="button" onclick="SamovarApp.runLuaString();" style='margin-bottom: 20px; margin-right: 100;'>
            </div>
            <div class="container_row" style="margin-top: 10px !important; margin-bottom: 10px !important;"><span>Статус Lua:</span><span id="Lstatus"></span></div>
          </div>
        </div>
      </div>