    <div id="Main" class="tabcontent" style="display: block;" aria-hidden="false">

      <div class="container_row" style="justify-content: space-between; font-size: 1em; margin-bottom: 0.5em;">
        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; font-weight: bold">
          <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center">
            <div>Samovar</div> <span id='crnt_tm' style="height: 0; visibility: hidden"></span>
            <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
              <div>v. </div>
              <div id='version'></div>
            </div>
          </div>

          <div style="width: 21px; display: flex; flex-direction: column; justify-content: center; align-items: center">
            <div id="connection_indicator">
              <img src="Green.png" style="margin: 0 !important; width: 20px">
            </div>
          </div>

          <div class="messages_box" style="display: none;" id="messagesBox">
            <button type="button" class="messages-clear" style="position: absolute; top: 0; right: 0.5em; cursor: pointer" onclick='SamovarApp.clearMessages()' aria-controls="messages">
              [x] очистить
            </button>
            <div class="messages_array" id="messages"></div>
          </div>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; font-weight: bold;">
          Работа: <span id='stm'></span>
        </div>
      </div>
