        <div class="container_column" style="flex: 1; align-items: flex-end; padding-right: 2em;">
          <div class="text" style="text-decoration-line: underline; text-decoration-color: %WaterColor%;">
            Т воды: &nbsp;&nbsp;
            <span id='WaterTemp' style="font-size: xx-large;"></span>
            &#176;C
          </div>
          <div class="text" style="text-decoration-line: underline; text-decoration-color: %TankColor%;">
            Т в кубе: &nbsp;&nbsp;
            <span id='TankTemp' style="font-size: xx-large;"></span>
            &#176;C
          </div>
          <div class="text" style="text-decoration-line: underline; text-decoration-color: %ACPColor%;">
            Т в ТСА: &nbsp;&nbsp;
            <span id='ACPTemp' style="font-size: xx-large;"></span>
            &#176;C
          </div>
        </div>

      </div>