      <div class="container_row" style="border: 1px dashed #bbb; margin-bottom: 1em;">

        <div class="container_column" style="flex: 1.1; padding-left: 2em;">
          <div class="text" style="text-decoration-line: underline; text-decoration-color: %PipeColor%;">
            Т в царге: &nbsp;&nbsp;
            <span id='PipeTemp' style="font-size: xx-large;"></span>
            &#176;C
          </div>
          <div class="text" style="text-decoration-line: underline; text-decoration-color: %SteamColor%;">
            Т пара: &nbsp;&nbsp;
            <span id='SteamTemp' style="font-size: xx-large;"></span>
            &#176;C
          </div>