        <section class="card sec-sys sys">
          <h2>Система</h2>
          <span class='dvcs'>Heap=<span id='heap'></span>; BME temp=<span id='bme_temp'></span>; RSSI = <span id='rssi'></span>; Свободно: <span id='fr_bt'></span><span id='add_param'></span></span>
          <section id='i2c_pump_status' class='container_row' aria-label='Состояние I2C-насоса' hidden>
            <span class='dvcs'>I2C-насос: <span id='i2c_status'>Не подключён</span></span>
            <span class='dvcs'>Осталось: <span id='i2c_remaining'>0</span> мл</span>
            <span class='dvcs'>Скорость: <span id='i2c_speed_cur'>0</span> шаг/с</span>
          </section>
        </section>
