textarea {
font-size:14;
width:80%;
margin-left:10%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#file-input,input[type='button'],input[type='submit']{width:200;height:34px;border-radius:4px;margin:10 10 0 10;font-size:15px}
input{background:#f1f1f1;border:0;padding:0 15px;}
input[type='text']{background:#f1f1f1;border:0;padding:10px;width:66;margin:0;font-size: medium;}
#file-input{padding:0;border:1px solid #ddd;line-height:44px;text-align:left;display:block;cursor:pointer}
body{background:#3498db;font-family:sans-serif;font-size:14px;color:#777}
#bar,#prgbar{background-color:#f1f1f1;border-radius:10px}#bar{background-color:#3498db;width:0;height:10px}
form{background:#fff;max-width:800px;margin:25px auto;padding:30px;border-radius:5px;text-align:left}
h1{text-align:center}
p{margin: 0px !important;}
.btn{background:#3498db;color:#fff;cursor:pointer}
.dvcs{padding: 10px;margin: 10px;}

.message-box{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    color: seashell;
}

.column{
  width:42%;
}
.text{
    font-size: 1.5em;
    font-weight: bold;
    display:inline-block;
    margin: 10 15 10 15;
}

.container{overflow:hidden;width:100%}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab input {
 border: #f1f1f1;
 border-width: 0 10px;
 border-radius: 0;
 background: #f1f1f1;
 font-size: 18px;
 margin: 0px;
 padding: 15px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    width: 24.6%;
}

/* Change background color of buttons on hover */
.tab input:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab input.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent input[type='button']{
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 0px;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #3498db;
    border-bottom: 4px solid #3498db;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #3498db;
}
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}