#chartdiv {
  width: 100%;
  height: 500px;
  background:#fff;
}

textarea {
font-size:14;
width:80%;
margin-left:10%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 177px;
    border-radius: 4px;
    margin: 10 10 0 10;
    font-size: 15px;
}

#file-input,input[type='button'],input[type='submit']{width:200;height:34px;border-radius:4px;margin:10 10 0 10;font-size:15px}
input{background:#f1f1f1;border:0;padding:0 15px;}

input[type='text']{background:#fafafa;padding:10px;width:66;margin:0;font-size: medium;border: 1px solid #a9a9a9;}

#file-input{padding:0;border:1px solid #ddd;line-height:44px;text-align:left;display:block;cursor:pointer}

body{background:#3498db;font-family:sans-serif;font-size:14px;color:#777}

#bar,#prgbar{background-color:#f1f1f1;border-radius:10px}#bar{background-color:#3498db;width:0;height:10px}

form {
  background: #fafafa;
  max-width: 800px;
  margin: 25px auto;
  padding: 30px;
  border-radius: 5px;
  text-align: left
}

h1{text-align:center}

p{margin: 0 !important;}

.btn{background:#3498db;color:#fff;cursor:pointer}

.dvcs{padding: 10;margin: 10;}

.message-box{
    background: red;
    color: seashell;
	z-index: 50000;
    position: absolute;
    width: 20em;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.column{
  width:42%;
}

.text{
    font-size: 1.5em;
    font-weight: bold;
    display:inline-block;
    margin: 10 15 10 15;
}

.container{
  display:flex;
  /* overflow:hidden; */
  width:100%
}

.container_row{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* overflow:hidden; */
  width:100%;
}

.container_column{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* overflow:hidden; */
  width:100%;
}

/* Style the tab */
.tab {
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #f1f1f1;
  padding-bottom: 0em;
  /* overflow: hidden; */
  border: 1px solid #ccc;
}


/* Style the buttons inside the tab */

.tab input {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1px;
  border: 1px solid #a7a7a7;
  border-radius: 0;
  background-color: #DDDDDD;
  font-size: 1.5em;
  min-height: 2em;
  font-weight: bold;
  padding: 0.3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  margin-left: 0.7em;
  margin-right: 0.7em;
  
  /* box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2), 5px 5px 15px 0 rgba(0, 0, 0, 0.19); */
}


/* Change background color of buttons on hover */
.tab input:hover {
  position: relative;
  top: 1px;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2),
  4px 4px 13px 0 rgba(0, 0, 0, 0.19);
  top: 1px;
}



/* Create an active/current tablink class */
.tab input.active {
  position: relative;
  top: 1px;
  background-color: #fff;
  border-bottom: 0;
}

.button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3498DB;
  font-size: 1em;
  color: #fff;
  min-height: 1.6em;
  font-weight: normal;
  padding: 0.5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  margin-left: 0.7em;
  margin-right: 0.7em;
  border-radius: 0.4em;
  border: 0.1em solid #dfdfdf;
  /*box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2), 5px 5px 15px 0 rgba(0, 0, 0, 0.19);*/
  /*box-shadow: 0.4em 0.4em 5px 0 rgba(0, 0, 0, 0.2);*/
}

.button_mob {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3498DB;
  min-height: 1em;
  font-size: 1em;
  font-weight: normal;
  padding: 0.3em;
  /* padding: 0em; */
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 0.3em;
  border: 1px solid #dfdfdf;
  /*box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2), 5px 5px 15px 0 rgba(0, 0, 0, 0.19);*/
  /*box-shadow: 0.4em 0.4em 5px 0 rgba(0, 0, 0, 0.2);*/
}


.button:hover {
  position: relative;
  cursor: pointer;
  background-color: #3498DB97;
  color: #000;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2), 1px 1px 3px 0 rgba(0, 0, 0, 0.19);
  top: 1px;
}

.button:active {
  position: relative;
  cursor: progress;
  color: #000;
  top: 0.3em;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2), 1px 1px 3px 0 rgba(0, 0, 0, 0.19);
}

.button_img {
  /*position: relative;*/
  float: left;
  align-self: center;
  margin-right: 0.5em;
}


/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent input[type='button']{
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 0;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #3498db;
    border-bottom: 4px solid #3498db;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #3498db;
}
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  min-width: 20em;
  background-color: #3498db;
  font-size: small;
  color: #f1f1f1;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.prgline input{
font-size: 18px !important;
padding: 4 !important;
}

.prgline input, img, select{
margin-left: 20px !important;
border-radius: 0;
}

.prgline input:enabled, img, select{
cursor: pointer;
}

select{
-webkit-appearance: none;
-webkit-border-radius: 0;
background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
background-position: 100% 50%;
background-repeat: no-repeat;
background-color:#fafafa;
font-size: 18px !important;
padding: 4 !important;
padding-right: 22px !important;
border: 1px solid #a9a9a9;
}

.prgline input {
border-style: solid !important;
border-width: 1px !important;
}

.prgline{
font-size: 18px !important;
margin-bottom: 4px !important;
}

.prgline label {
margin-left: 15px !important;
font-size: 18px;
}

.prglabel {
width:90px !important;
}

.pointer {
cursor: pointer;
margin-left: auto;
margin-right: auto;
width: 400;
}


.list-group {
  display: flex;
  flex-direction: column;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: rgb(225, 226, 226);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-header {
  font-weight: 700;
  cursor: pointer;
}

.list-content {
}

.spoiler-body {
  display: none;
}

@media only screen and (max-width: 520px) {
  #tab {
    flex-direction: column;
    border: 1px solid red;
  }
}


