.detbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Arial";
font-size: 14pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:"Arial";
font-size: 16pt;color:#375db0;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h2
{
font-family:"Times New Roman";
font-size: 14pt;color:#4f87fd;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 14pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
img.de_6465609E87
{
margin-top: 2px; margin-right: 2px; margin-bottom: 2px; margin-left: 2px;}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
span.de_0F609BFBFC
{
	color:#0000ff;
	font-style:italic;
	text-decoration:underline;
}
span.de_1B2D3F6EF2
{
	font-family: "Times New Roman";
	font-size: 14pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_1F692B3E67
{
	font-family: "Arial";
	font-size: 14pt;
	color:#24292f;
}
span.de_2B94C39861
{
	color:#0000ff;
	text-decoration:underline;
}
span.de_496AA02164
{
	font-size: 12pt;
	color:#000000;
}
span.de_4DDBC84374
{
	font-size: 12pt;
	font-style:italic;
}
span.de_51752156DC
{
	color:#000000;
}
span.de_56F4564E24
{
	font-family: "Arial";
	font-size: 12pt;
	color:#000000;
}
span.de_5A930DDF3A
{
	font-size: 36pt;
}
span.de_68B99ACC5C
{
	font-family: "Arial";
}
span.de_6D2D8B1FD4
{
	font-size: 12pt;
}
span.de_7EA41EC2FA
{
	font-size: 16pt;
}
span.de_7ECBECEBE5
{
	font-family: "Times New Roman";
	font-size: 12pt;
	color:#000000;
}
span.de_823826CA2C
{
	font-style:italic;
}
span.de_8875473D98
{
	color:#ff3600;
}
span.de_922EDE2353
{
	font-family: "Arial";
	font-size: 14pt;
	color:#000000;
}
span.de_95DB6CA6B6
{
	font-family: "Arial";
	font-size: 14pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_AD171DD315
{
	font-family: "Arial";
	font-size: 14pt;
	color:#222222;
}
span.de_AD3B714EC2
{
	font-size: 14pt;
	color:#000000;
}
span.de_B261420348
{
	font-size: 14pt;
}
span.de_B4A9D1528F
{
	font-family: "Times New Roman";
	font-size: 16pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_B7783F760D
{
	font-family: "Arial";
	font-size: 14pt;
	color:#000000;
	font-style:italic;
}
span.de_C629996958
{
	font-size: 14pt;
	font-style:italic;
}
span.de_D68646C8A7
{
	font-family: "Courier New";
	font-size: 12pt;
	color:#000000;
}
span.de_DB90E9E540
{
	font-family: "Times New Roman";
	font-size: 14pt;
}
span.de_DBF328B893
{
	color:#000000;
	font-style:italic;
}
span.de_F010B72055
{
	font-size: 14pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_F5F3AF8001
{
	font-family: "Times New Roman";
	font-size: 16pt;
}
.list-element {
	list-style-type: none;
}
.list-counter-0 > div > * {
	text-indent: 0px;}
.list-counter-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0, decimal) '.\00a0';
	counter-increment: list-counter-0;
}
.list-counter-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1 > div > * {
	text-indent: 0px;}
.list-counter-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1, decimal) '.\00a0';
	counter-increment: list-counter-1;
}
.list-counter-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2 > div > * {
	text-indent: 0px;}
.list-counter-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2, disc) '\00a0';
	counter-increment: list-counter-2;
}
.list-counter-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
